.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(215, 186, 242);
  padding: 15px 20px;
  
}

.footer {
  background-color: rgb(121, 102, 138);
  padding: 15px 20px;
  margin-top: auto;
  


}

